[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
{%- if cookiecutter.use_database == "y" %}
sqlalchemy = "*"
{%- endif %}
{%- if cookiecutter.interface == "cli" or cookiecutter.use_database == "y" %}
typer = "*"
{%- endif %}

[dev-packages]
black = "*"
isort = {extras = ["pipfile_deprecated_finder"], version = "*"}
flakeheaven = "*"
flake8-2020 = "*"
flake8-assertive = "*"
flake8-bugbear = "*"
flake8-builtins = "*"
flake8-comprehensions = "*"
flake8-eradicate = "*"
flake8-executable = "*"
flake8-no-pep420 = "*"
flake8-pep3101 = "*"
flake8-pyi = "*"
flake8-return = "*"
flake8-simplify = "*"
flake8-string-format = "*"
pep8-naming = "*"
{%- if cookiecutter.use_pytest|lower == "y" %}
pytest = "*"
{%- endif %}

[requires]
python_version = "3.8"

[scripts]
format = "black {{ cookiecutter.module_name }} tests"
lint = "flakeheaven lint ./{{ cookiecutter.module_name }} ./tests"
{%- if cookiecutter.use_pytest|lower == "y" %}
test = "pytest"
{%- else %}
test = "python -m unittest discover -s tests/ -b"
{%- endif %}

